.comment_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
/* 
.comment_container>div:nth-child(2n){
    background-color: #F55DB2;
} */

.comment_container > div{
    border-radius: 5px;
    padding: 20px;
    width: 70vw;
    background-color: #F5812C;
    margin: 12px;
}