.footer_container {
    background-color: #F55DB2;
    padding: 1.5em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li>a {
    color:#000;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright{
    font-size: 1.2em;
    margin-top: 1em;
}

.copyright span {
    font-weight: bold;
}